h1 {
    color: deeppink;
    font-family: monospace;
    font-weight: bold;
    background: linear-gradient(0deg,blue 0 50%, green 50%, yellow);
    text-align: center;
    border: 2px solid black;
}

h2 {
    color:darkblue;
    font-family: monospace;
    border-width: 150%;
}

h4 {
    color: navajowhite;
}

body {
    background: linear-gradient(rgb(200, 40, 40), rgb(221, 221, 52), rgb(26, 26, 166), rgb(200, 40, 40), rgb(221, 221, 52), rgb(70, 70, 224));
}

table {
    border-collapse: collapse;
    width: 100%;
}
  
th, td {
    text-align: left;
    padding: 8px;
}
  
thead tr {
    border: 2px solid black;
    border-style: dotted 2px solid;
}

 section {
    border: 2px solid #641723;
    border-radius: 1rem;
    margin-bottom: 2rem;
    padding: 1rem;
} 

